:root {
    --font-color-dark: rgb(38, 40, 46);
    --standard-box-shadow: rgb(156, 156, 156) 1px 1px 5px;
    
    --icon-cross: url("icons/close.svg");
    --icon-circle: url("icons/circle-outline.svg");
    
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    height: 100vh;
    width: 100vw;
}

.game .game-status-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
}

.game .game-status {
    font-size: 2rem;
    color: var(--font-color-dark);
    width: 350px;
    text-align: center;
}

.game .game-board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    place-items: center;
}

.game-board .game-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border-color: skyblue;
}

.game-tile .icon {
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--font-color-dark);
    height: 100%;
    width: 100%;
}

.icon.cross {
    mask-image: var(--icon-cross);
}

.icon.circle {
    mask-image: var(--icon-circle);
}

.icon.winning-path {
    background-color: red;
}

.game-tile.top {
    border-bottom-style: solid;
}

.game-tile.bottom {
    border-top-style: solid;
}

.game-tile.left {
    border-right-style: solid;
}

.game-tile.right {
    border-left-style: solid;
}

.game-status-bar .player-wins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 2rem;
    color: var(--font-color-dark);
    width: 200px;
}

.game-status-bar .player-wins :first-child {
    border-bottom-style: solid;
    border-color: var(--font-color-dark);
}

button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    background-color: skyblue;
    cursor: pointer;
    color: var(--font-color-dark)
}

button:hover {
    background-color: lightblue;
}

dialog.new-game-dialog {
    border-width: 1px;
    box-shadow: var(--standard-box-shadow);
    border-radius: 10px;
    width: clamp(350px, 50%, 450px);
}

dialog.new-game-dialog::backdrop {
    backdrop-filter: blur(5px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form .description-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;
}

input[type="text"]:focus {
    border-color: skyblue;
    outline: none;
    box-shadow: var(--standard-box-shadow);
}

form button.start {
    margin-top: 20px;
}